{% extends "/layout.html.twig" %}

{% block page_title %}Accueil{% endblock %}

{% block content %}
    <div class="p-25">

        <h1>
            Bienvenue sur l'interface de gestion <code>POLLUX</code>
        </h1>

    </div>
{% endblock %}